# Configuração da API Backend
NEXT_PUBLIC_API_BASE_URL=http://localhost:5001

# Configuração do Google OAuth (se necessário para o frontend)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=660853948384-6rebg6dcing4nh885tsr2embf3u0ebdj.apps.googleusercontent.com

# Configuração de ambiente
NEXT_PUBLIC_ENVIRONMENT=development
